.hero-title {
    color: white;
    font-size: 170px;
    font-family: 'Istok Web', sans-serif;
    padding:20px;
}

.hero-banner {
    background-image: url('Images/Naruto_Banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0;
    opacity: 0.9;
}

.return-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
}

.return-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
