.hero-title {
    color: white;
    font-size: 170px;
    font-family: 'Istok Web', sans-serif;
}

.hero-banner {
    background-image: url('Images/One_Piece_Banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0;
}

.return-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
}
