* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-title {
    color: white;
    font-size: 150px;
    font-family: 'Istok Web', sans-serif;
    padding: 20px;
}

.hero-banner {
    background-image: url('Images/One_Piece_Banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 0;
    opacity: 0.9;
    height: 30vh;
}

.return-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 50px;
}

.return-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: auto;
    padding: 50px;
    align-items: center;
    background-color: #e6e6e6;
    place-items: center;
}

.content-text {
    color: black;
    font-size: auto;
    font-family: 'Istok Web', sans-serif;
    text-align: left;
    font-size: 22px;
    max-width: 785.333px;
    width: 100%;
    font-weight: bold;
}

.content-img {
    max-width: 785.333px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.section-cut-off {
    background: linear-gradient(to bottom,#DC908F, #D27474);
    height: 63px;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 50px;
    align-items: center;
    position: relative;
    place-items: center;
    background-color: #B9B9B9;
}

.creator-img {
    max-height: 440px;
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.title-text {
    color: white;
    font-size: clamp(32px, 5vw, 66px);
    font-family: 'Istok Web', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 40px 20px;
}

.content3-banner {
    background: linear-gradient(to bottom,#DC908F, #D27474);
    position: relative;
    margin: 0;
}

.anime-grid {
    background-color: #3C3C3C;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    padding: 50px 20px;
    box-sizing: border-box;
}

.anime-img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.anime-text {
    color: white;
    font-size: clamp(20px, 3vw, 40px);
    font-family: 'Istok Web', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
}

.anime-text:hover {
    color: #DC908F;
    transition: color 0.3s ease;
}

.anime-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 100%;
}

/* Change the size of objects on the page when the screen shrinks */

@media (max-width: 768px) {

    .content1, .content2, .anime-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .content-text {
        font-size: min(6vw, 18px);
    }

    .anime-text {
        font-size: min(7.5vw, 24px);
    }


    .creator-img, .anime-img, .content-img {
        width: 100%;
        height: auto;
    }

    .hero-title {
        font-size: min(15vw, 80px);
    }

    .title-text {
        font-size: min(10vw, 40px);
    }

    .return-icon {
        width: min(25px, 5vw);
    }
}