

.hero-banner {
    background: linear-gradient(to bottom, #ff0000, #DB0000);
    width: 100%;
}

.tr {
    display: flex;     
}

.hero-img1 {
    width: 129px;
    padding-right: 100px;
}

.hero-img2 {
    width: 118px;
    padding-left: 100px;
}

.hero-title {
    color: white;
    font-size: 128px;
    font-family: 'Istok Web', sans-serif;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: auto;
    padding: 50px;
    align-items: center;
    background-color: #B9B9B9;
}

.content-text {
    color: black;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    text-align: left;
    width: 589px;
    font-weight: bold;
    line-height: 29px;
}

.content-img {
    width: 589px;
    height: auto;
}

.section-cut-off {
    background: linear-gradient(to bottom,#FF0000 90%, #DB223D);
    height: 63px;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 50px;
    align-items: center;
    position: relative;
    min-height: auto; 
    z-index: 0;
    overflow: hidden;
}

.content2::before {
  content: "";
  position: absolute;
  inset: 0; 
  background-image: url('Images/Manga_Panel_Bg1.jpg');
  background-size: cover; 
  background-position: center; 
  opacity: 0.2; 
  z-index: -1; 
}

.content-title {
    background: linear-gradient(to bottom,#FF0000, #DB223D);
    height: 139px;
    position: relative;
}

.title-text {
    color: white;
    font-size: 128px;
    font-family: 'Istok Web', sans-serif;
    text-align: center;
    font-weight: bold;
}